#root {
    max-width: 1280px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo > img {
    width: 314px;
    height: auto;
    margin-top: 128px;
    margin-bottom: -15px;
}

.logo > h1 {
    margin-top: 0;
    font-size: 150px;
    line-height: 100%;
    margin-bottom: -5px;
}

.logo > p {
    font-size: 18px;
    color: #6E6981;
    margin-top: 0;
}

.header {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #271944;
    height: 80px;
    width: 100vw;
}

.header > img {
    width: 90px;
    color: #AEB2B8;
}

.header > h1 {
    color: #AEB2B8;
}