
.body_home {
    font-family: Arial, sans-serif;
    background-color: #e1d3fa; /* Soft purple */
    width: 100vw;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.BLogo_home {
  height: 400px;
  width: 400px;
}

.BLogo_home img {
    width: 500px;
}
  
.container_home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
    background-color: #e1d3fa;
    padding: 20px;
    gap: 500px;
}
  
.card_home {
    width: 100%;
    background-color: #e1d3fa;
    border-radius: 10px;
    padding: 20px;
  
}  
 
.select_home {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    color: azure;
    background-color: rgb(113, 85, 139);
}
  
.input-group_home {
    display: flex;
    gap: 15px;
}
  
.input_home {
    flex: 1;
    padding: 9px;
    border-radius: 10px;
    color: azure;
    background-color: rgb(113, 85, 139);
    border: 0px;
}

.input_home:hover{
    box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.4);
}
  
.Pickup_home {
    display: flex;
    gap: 120px;
    margin-left: 6px;
    height: 25px;
    color: black;
}
  
.Return_home {
    margin-top: 20px;
    display: flex;
    gap: 120px;
    margin-left: 6px;
    height: 25px;
    color: black;
}
  
.radio-group_home {
    margin-top: 40px;
    margin-bottom: 40px;
}
.radio-group_home .radio-option1_home {
    color: azure;
    background: rgb(113, 85, 139);
    padding: 10px;
    padding-right: 78px;
    margin-right: 15px;
    border-radius: 10px;
}
.radio-group_home .radio-option2_home {
    color: azure;
    background: rgb(113, 85, 139);
    padding: 10px;
    padding-right: 68px;
    border-radius: 10px;
}
.button_home {
    width: 100%;
    padding: 10px;
    color: white;
    background-color:rgb(113, 85, 139) ;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 130px;
}
.button_home:hover{
    background-color:black;
    transform: scale(1.04);
    padding:11px;
}