.profile-main-container {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background: #e1d3fa;
  align-items: center;
}

.profile-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 300px;
  flex-direction: row;
}
.profile_BLogo_home{
  margin-top: 250px;
}

.profile_BLogo_home img {
  width: 500px;
}

.profile-card {
  background:#e1d3fa;
  padding: 20px;
  border-radius: 10px;
  margin-top: 150px;
  text-align: center;
  width: 500px;
  position: relative;
}

.profile-avatar-container {
  display: flex;
  justify-content: center;
  
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: black;
}


.profile-edit-btn{
  position: relative;
  display: flex;
  align-self: flex-end;
  margin-bottom: 5px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
}


.profile-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  
}
h6{
  margin: 0;
  font-size:15px;
  font-style: normal;
  font-weight: normal;
  color: black;
  text-align: start;
}
.profile-input-field {
  width: 96%;
  padding: 8px;
  border: 1px solid  rgb(113, 85, 139);
  border-radius: 5px;
  font-size: 16px;
  background-color:  rgb(113, 85, 139);
  color:white;

}
.profile-input-field.disabled {
  background-color:  rgb(113, 85, 139);
  color: gray;
  opacity: 1;
}

.profile-input-field.editing {
  background-color:  rgb(113, 85, 139);
  color:white;
  border: 1px solid black;
}


.profile-save-button {
  background-color: #271944;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 30px;
}

.profile-save-button:hover {
  background-color: black;
}