.pickup_body {
    padding-top: 10vh; /* To prevent overlap with NavBar */
    background-color: #E1D3FA;
    /* Light purple background */
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 5vw; /* Add horizontal padding */
  }
  
  /* Logo styling */
  .pickup_logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
  }
  
  .pickup_logo-image {
    width: 350px;
    height: auto;
  }
  
  .pickup_location {
    text-align: center;
    margin-left: 350px;
    display: flex;
    flex-direction: column;
  
  }
  
  .pickup_location-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(113,85,139);
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 12px;
    font-size: 18px;
    cursor: pointer;
    width: 500px;
    transition: background-color 0.3s ease;
  }
  
  .pickup_input-field {
    flex: 0.97;
    padding: 8px;
    color: white;
  }
  
  .pickup_location-1 img {
    width: 30px;
    height: 40px;
  }
  
  /* Next button */
  .pickup_next-button {

    width: 40%;
    padding: 8px;
    border: 1px solid  rgb(113, 85, 139);
    border-radius: 5px;
    font-size: 16px;
    background-color:  rgb(113, 85, 139);
    color:white;
    align-self: self-end;
  
  }
  
  .pickup_next-button:hover {
    background-color: #271944;
  }
  
  .pickup_next-button:active {
    background-color:black;
  }